In [1]:
import seaborn as sns
import pandas as pd
import zipfile
import os

# Extract CSV zip files
if not os.path.isfile('mhealth_raw_data.csv'):
    with zipfile.ZipFile('archive.zip', 'r') as zip_ref:
        zip_ref.extractall('.')

m_health_raw_data = pd.read_csv('mhealth_raw_data.csv')

In [12]:
# We see lowest category is 10342 samples
m_health_raw_data['Activity'].value_counts()
# Let's sample 10000 entries for each category

Activity
0     872550
1      30720
2      30720
3      30720
4      30720
9      30720
5      30720
11     30720
10     30720
7      29441
8      29337
6      28315
12     10342
Name: count, dtype: int64

In [34]:
m_health_data = m_health_raw_data.drop('subject', axis=1)
seed=42

df = pd.DataFrame()
for i in m_health_data['Activity'].unique():
    samples = m_health_data[m_health_data['Activity'] == i].sample(random_state=seed, n=10000)
    df = pd.concat([df, samples])

,alx,aly,alz,glx,gly,glz,arx,ary,arz,grx,gry,grz,Activity
1212350,1.33590,-9.7394,-1.66110,0.58813,-0.58724,-0.662080,-3.270300,-9.05310,-0.30682,0.401960,-1.06160,0.14655,0
134482,2.52730,-12.7320,-3.88220,0.51763,-0.58537,-0.758350,-4.346300,-10.51300,1.71390,-0.272550,-0.76591,0.85129,0
820343,0.55205,-9.7466,1.58070,0.55288,-0.76173,-0.176820,-5.815500,-8.16430,-2.42900,0.137250,-0.99795,0.52155,0
718210,2.49960,-9.3680,1.81700,0.73655,-0.55159,0.068762,-3.050400,-5.91350,4.65220,0.084314,-0.71047,0.90086,0
118798,-3.48370,-9.2520,0.54423,-0.37662,-0.61163,0.609040,-6.595200,-0.79894,7.10590,-0.900000,1.14580,0.81897,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
416570,0.71222,-9.6503,-0.67331,0.53061,-0.43902,-0.667980,-1.014500,-8.81910,3.09030,0.719610,-0.64271,0.36853,5
159664,3.89750,-11.7790,-3.66460,-0.84972,-0.34709,-0.754420,-7.966600,-5.37990,-4.98770,-0.919610,0.31006,-0.12931,5
645023,4.51250,-12.6670,-5.29650,0.23933,-0.77111,-0.013752,-2.618400,-8.61850,1.15240,-0.482350,-0.74538,0.42457,5
1113876,1.88150,-11.8630,1.80070,0.59555,0.42026,0.161100,-3.432600,-13.71000,0.99158,0.462750,-0.36550,0.51724,5
906671,2.98640,-10.4120,-3.60530,0.79035,-0.52158,0.247540,-0.032614,-16.15900,-1.86000,-0.164710,-0.75154,0.79095,5

In [42]:
print(df['Activity'].value_counts())
display(df.describe())

Activity
0     10000
1     10000
2     10000
3     10000
4     10000
6     10000
7     10000
8     10000
9     10000
10    10000
11    10000
12    10000
5     10000
Name: count, dtype: int64

,alx,aly,alz,glx,gly,glz,arx,ary,arz,grx,gry,grz,Activity
count,130000.000000,130000.000000,130000.000000,130000.000000,130000.00000,130000.000000,130000.000000,130000.000000,130000.000000,130000.000000,130000.000000,130000.000000,130000.000000
mean,1.712190,-9.092605,-0.833864,0.081737,-0.56323,-0.137402,-3.520445,-5.656282,2.318159,-0.228825,-0.416495,0.358143,6.000000
std,4.431388,5.286531,6.568060,0.467020,0.41718,0.554810,6.041450,6.593481,4.251687,0.543354,0.544666,0.528319,3.741672
min,-22.146000,-19.609000,-19.365000,-1.777400,-7.78990,-2.622800,-22.345000,-18.972000,-18.230000,-2.219600,-3.552400,-2.504300,0.000000
25%,0.082362,-10.137000,-3.664900,-0.374770,-0.81051,-0.591360,-5.221425,-9.535500,0.051838,-0.696080,-0.839840,-0.077586,3.000000
50%,1.332000,-9.601300,0.261925,0.172540,-0.69043,-0.123770,-2.504100,-7.562000,1.776100,-0.333330,-0.597540,0.424570,6.000000
75%,2.892000,-7.492100,1.771100,0.484230,-0.49719,0.345780,-0.517068,-1.843100,5.181400,0.205880,-0.051335,0.829740,9.000000
max,20.033000,21.161000,25.005000,1.705000,1.97750,1.799600,19.801000,21.965000,25.741000,1.429400,1.540000,2.254300,12.000000